__pycache__
.pytest_cache
*.egg-info
.DS_Store
.coverage
.idea
.vscode
venv
.*venv
coverage.xml
tmp/
build/
dist/
.mypy_cache
.ruff_cache
build/
logs/
/icons/
resources/i18n/*.qm
resources/icons/*.rcc
/*.png
/*.jpg
*.pyproject*
mircmd
